<div class="bg-white">
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div>
      <div class="container mx-auto mt-8">
            <div class="flex justify-between mb-4">
                <h1 class="text-3xl font-bold">Simple No-Tricks Pricing</h1>
            </div>
            <div class="bg-white p-4 rounded-lg shadow-md">
                <div class="mt-4">
                  <p class="mt-4 text-lg leading-8 text-gray-600">Enjoy all features with our one-time payment option, designed to be affordable for everyone.</p>
                  <div class="mt-6 p-8 sm:p-10 lg:flex-auto">
                    <h3 class="text-2xl font-bold tracking-tight text-gray-900">Lifetime membership</h3>
                    <p class="text-base leading-7 text-gray-600">Make a single purchase to unlock lifetime access to all features, with no recurring fees.</p>
                    <div class="flex space-x-4 mb-4">
                      <div class="p-4">
                        <div class="mt-4 flex items-center gap-x-4">
                          <h4 class="flex-none text-sm font-semibold leading-6 text-indigo-600">Free Tier</h4>
                          <div class="h-px flex-auto bg-gray-100"></div>
                        </div>
                        <ul role="list" class="mt-2 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6">
                          <li class="flex items-center">
                            <p class="mr-2">Upto 10 Links</p>
                            <i class="fa-solid fa-check"></i>
                          </li>
                          <li class="flex items-center">
                            <p class="mr-2">URL Shortening upto 100 Links</p>
                            <i class="fa-solid fa-check"></i>
                          </li>
                          <li class="flex items-center">
                            <p class="mr-2">Custom QR Codes For The Links</p>
                            <i class="fa-solid fa-xmark"></i>
                          </li>
                          <li class="flex items-center">
                            <p class="mr-2">Link Analytics</p>
                            <i class="fa-solid fa-xmark"></i>
                          </li>
                        </ul>
                      </div>
                      <div class="p-4">
                        <div class="mt-4 flex items-center gap-x-4">
                          <h4 class="flex-none text-sm font-semibold leading-6 text-indigo-600">Premium Tier</h4>
                          <div class="h-px flex-auto bg-gray-100"></div>
                        </div>
                        <ul role="list" class="mt-2 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6">
                          <li class="flex items-center">
                            <p class="mr-2">Unlimted Links</p>
                            <i class="fa-solid fa-check"></i>
                          </li>
                          <li class="flex items-center">
                            <p class="mr-2">Unlimited Link Shortening</p>
                            <i class="fa-solid fa-check"></i>
                          </li>
                          <li class="flex items-center">
                            <p class="mr-2">Custom QR Codes For The Links</p>
                            <i class="fa-solid fa-check"></i>
                          </li>
                          <li class="flex items-center">
                            <p class="mr-2">Link Analytics</p>
                            <i class="fa-solid fa-check"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
                    <div class="rounded-2xl bg-gray-50 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
                      <div class="mx-auto max-w-xs px-8">
                        <p class="my-4 text-base font-semibold text-gray-600">Pay once, own it forever</p>
                          <span class="text-5xl font-bold tracking-tight text-gray-900">₹500</span>
                          <span class="text-sm font-semibold leading-6 tracking-wide text-gray-600"></span>
                        </p>
                        <a href="#" class="my-4 block w-full rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get Premium</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
</div>

